/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body.show-left-rail .generalcontainer {
    width: 875px;
}

.wrapper {
    float: left;
    width: 100%;
    position: relative;
}

.sign-in-page {
    float: left;
    width: 100%;
    padding: 174px 0 20px 65px;
}

.signin-popup {
    width: 525px;
    margin: 0 auto;
    position: relative;
}

.signin-pop {
    float: left;
    width: 85%;
    background-color: #fff;
    position: relative;
    padding: 15px;
    border-radius: 6px;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    width: 98% !important;
    padding: 0px !important;
    padding-left: 10px !important;
    border-radius: 5px !important;
    height: 34px;
}

.k-switch-container {
    border-color: rgba(33, 37, 41, 0.21);
}

.k-switch-handle,
.km-switch-handle {
    color: #3b3c3e;
}

.signin-popup:before {
    content: '';
    position: absolute;
    top: -16px;
    left: -22px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.signin-popup:after {
    content: '';
    position: absolute;
    top: -37px;
    left: -45px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.sucessbutton {
    background: #2ca01c !important;
    border: #2ca01c !important;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.k-button {
    height: 44px;
}

.HeaderClass {
    text-align: center;
    font-size: 32px;
}

.k-button:hover {
    color: #fff;
    transform: scale(0.98);
}

a {
    color: #0056b3 !important;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    text-decoration: underline;
}

.mandatory {
    color: red
}

.k-upload .k-upload-files {
    max-height: 240px;
    overflow: auto;
}

.ngx-editor-textarea {
    height: 150px !important;
}

.k-notification-container {
    margin: 0.675rem 0;
}

.k-multiselect-wrap {
    max-height: 60px;
    overflow-y: auto;
}

.fr-box {
    border: 1px solid #ccc;
}

.k-notification-group {
    margin-top: 60px;
}

.task-detail-sidebar-item-Desc {
    padding-top: 10px;
    color: #0b66c3;
    font-size: 14px;
}

.task-detail-sidebar-item-title {
    width: auto !important;
    padding-top: 10px;
    color: #494c4f !important;
    font-size: 14px !important;
}

.task-detail-sidebar-item {
    padding-bottom: 10px !important;
}

.k-notification-group {
    z-index: 999999;
}

@media(min-width:1300px) and (max-width:1400px) {
    .wrapper {
        float: left;
        width: 100%;
        position: relative;
        top: -109px;
    }
}

@media(min-width:1100px) and (max-width:1200px) {
    .wrapper {
        float: left;
        width: 100%;
        position: relative;
        top: -52px;
    }
}

@media(min-width:1000px) and (max-width:1100px) {
    .wrapper {
        float: left;
        width: 100%;
        position: relative;
        top: -105px;
    }
}

@media(min-width:600px) and (max-width:700px) {
    .wrapper {
        float: left;
        width: 100%;
        position: relative;
        top: -83px;
    }
}

@media(max-width:500px) {
    .signin-popup {
        width: 316px;
        margin: 0 auto;
        position: relative;
        top: -87px;
    }
}

.ag-cell-focus {
    border: none !important;
    outline: none;
}

.no-border.ag-cell:focus {
    border: none !important;
    outline: none;
}

.ag-header-container {
    background: #0069d9;
    color: white !important;
}

.EMRFocus {
    border: 1px solid #64bdfe;
    border-radius: 2px;
    height: inherit;
}

[ng-reflect-multiple-selection="true"] [role="listbox"] [kendodropdownsselectable].k-state-selected {
    display: none;
}

.ag-theme-balham .sick-days-warning {
    background-color: sandybrown;
    /* color: white */
}

.ag-theme-balham .sick-days-breach {
    background-color: lightcoral;
    /* color: white */
}

.ag-theme-balham .sick-days-completed {
    background-color: #2ca01c !important;
    color: white
}

.ag-theme-balham .sick-days-overdue {
    background-color: #e62121;
    color: white
}

.ag-theme-balham .ag-row-selected {
    background-color: #51b2ec !important;
    color: black;
}

.focusClass {
    border: 2px solid #64bdfe;
    border-radius: 4px;
}

.DetailIconBlackColor {
    border-color: #a6d3e8;
    /* background-image: url('assets/images/details-large-view-64.png'); */
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 13px;
    /*padding-bottom: 22px;*/
    background-size: 60%;
}

.BriefIconBlackColor {
    border-color: #a6d3e8;
    /* background-image: url('assets/images/view-details-64.png'); */
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 13px;
    /*padding-bottom: 22px;*/
    background-size: 75%;
}

@media(min-width:1000px) {
    .ArrowRightIconClass {
        border-color: #a6d3e8;
        /* background-image: url('assets/images/ArrowRight.png'); */
        background-repeat: no-repeat;
        cursor: pointer;
        margin-left: 9px;
        padding-left: 41px;
        padding-right: 22px;
        /*padding-bottom: 22px;*/
        background-size: 85%;
    }
}

@media(max-width:1000px) {
    .ArrowRightIconClass {
        border-color: #a6d3e8;
        /* background-image: url('assets/images/ArrowDown.png'); */
        background-repeat: no-repeat;
        cursor: pointer;
        margin-left: 9px;
        padding-left: 41px;
        padding-right: 22px;
        /*padding-bottom: 22px;*/
        background-size: 85%;
    }
}

.PreviewIcon {
    border-color: #a6d3e8;
    /* background-image: url('assets/images/imgView.png'); */
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 13px;
    /*padding-bottom: 10px;*/
}


.ag-theme-balham .ag-paging-panel>span {
    color: black;
    /* font-size: 15px; */
}

.ag-theme-balham button[ref="btFirst"] {
    position: relative;
    background-image: none !important;
    width: unset !important;
    vertical-align: sub !important;
}

.ag-theme-balham button[ref="btFirst"]::before {
    font-family: FontAwesome;
    content: "\f049";
    position: absolute;
    left: -5px;
    top: 0;
    color: #06a14b;
    font: normal normal normal 14px/1 FontAwesome;
}

.ag-theme-balham button[ref="btPrevious"] {
    position: relative;
    background-image: none !important;
    width: unset !important;
    vertical-align: sub !important;
}

.ag-theme-balham button[ref="btPrevious"]::before {
    font-family: FontAwesome;
    content: "\f048";
    position: absolute;
    left: 0px;
    top: 0;
    color: #06a14b;
    font: normal normal normal 14px/1 FontAwesome;
}

.ag-theme-balham button[ref="btNext"] {
    position: relative;
    background-image: none !important;
    width: unset !important;
    vertical-align: sub !important;
}

.ag-theme-balham button[ref="btNext"]::before {
    font-family: FontAwesome;
    content: "\f051";
    position: absolute;
    left: -5px;
    top: 0;
    color: #06a14b;
    font: normal normal normal 14px/1 FontAwesome;
}

.ag-theme-balham button[ref="btLast"] {
    position: relative;
    background-image: none !important;
    width: unset !important;
    vertical-align: sub !important;
}

.ag-theme-balham button[ref="btLast"]::before {
    font-family: FontAwesome;
    content: "\f050";
    position: absolute;
    left: -5px;
    top: 0;
    color: #06a14b;
    font: normal normal normal 14px/1 FontAwesome;
}

/* img:hover {
    opacity: 0.5;
} */

/* .ag-body-viewport.ag-layout-normal {
    overflow-x: auto !important;
    overflow-y: auto !important;
} */

.k-dialog-button-layout-stretched .k-button {
    flex: none !important;
}

.k-dialog-button-layout-stretched .k-button~.k-button {
    margin-left: 10px !important;
}

.ql-snow .ql-tooltip {
    left: 19.5px !important;
}


.task-switcher-block-selected {
    overflow-x: hidden !important;
}


.ql-video {
    display: none !important;
}

.feed-com-text-inner-inner p {
    word-break: break-all !important;
}

.task-detail-description div p {
    word-break: break-all !important;
}
.yellowcolor{
    background-color: yellow !important;
    }
.Dodgerblue{
    background-color: #51b2ec !important;
}
.white{
    background-color:white!important;
}
    /* .color{
        background-color:#DEB887 !important
    } */

    @media(min-width:1700px){
        .ag-body-viewport.ag-layout-normal{
            overflow-x:hidden !important;
        }
        }
        

        .ExporttoExcelIconBlueColor {
            border-color: #a6d3e8;
            /* background-image: url('assets/images/ExportToExcelIconBlue.png'); */
            background-repeat: no-repeat;
            cursor: pointer;
            margin-left: 10px;
            padding-left: 15px;
            padding-right: 13px;
            background-size: 75%;
        }
@media(min-width:700px) and (max-width:1000px){
    .sign-in-page {
        padding: 174px 0 0px 80px !important;
    }
}
@media(max-width:700px){
    .sign-in-page {
        padding: 174px 0 0px 0px !important;
    }
    .signin-pop{
        width: 100% !important;
    }
}        